
<nav>
	<h1>Menu</h1>
	<ol>
		<li><a href="#">Home</a></li>
		<li><a href="#">Como Funciona</a></li>
		<li><a href="#">Suporte</a></li>
		<li><a href="#">Comece a usar gratuitamente!</a></li>
	</ol>
</nav>

<section>
	<h1>Home</h1>
	<p><strong>Cardápio Diário</strong></p>
	<p>Mostre aos seus clientes o que você esta preparando de bom!</p>
</section>

<section>
	<h1>Como Funciona</h1>
	<p><strong>Versão Gratuíta</strong></p>
	<ol>
		<li>Você cadastra seu cardápio para os próximos dias.</li>
		<li>Você cadastra o email dos seus clientes.(Limitado a 100 emails)</li>
		<li>Seus clientes recebem no e-mail o cardápio do dia quentinho!</li>
	</ol>
	<p><strong>Versão Premium - R$ 59,90 mês</strong></p>
	<p>Além do que você pode fazer na versão gratuíta, você também poderá:</p>
	<ol>
		<li>Número ilimitado de emails.</li>
		<li>Publicar seu cardápio do dia na página do Facebook, possibilitando que as pessoas que seguem sua página vejam seu cardápio do dia.</li>
		<li>Envie o link do seu cardápio para seu Twitter</li>
		<li>Personalização da mensagem de email com imagens enviadas por você.</li>
	</ol>
</section>

<section>
	<h1>Comece a usar gratuitamente</h1>
	<p><a href="#">login_facebook</a></p>
	<p><a href="#">login_gmail</a></p>
	<p><a href="#">login_manual</a></p>
</section>


<section>
	<h1>Passos iniciais...</h1>
	<input placeholder='Nome Fantasia' name="nickname"></input>
	<textarea placeholder='Cabeçalho do email.' name='emailheader'></textarea>
	<textarea placeholder='Rodapé do email.' name="emailfooter"></textarea>
</section>

<section>
	<h1>Meus clientes</h1>
	<input type='email' placeholder='Email'id='nomefantasia' required="true"></input>
	<input placeholder='nome' id='nomefantasia'></input>
	<table>
		<caption>Lista dos Clientes</caption>
		<thead>
			<tr>
				<th>Email</th>
				<th>Nome</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>nascimento.ti@gmail.com</td>
				<td>Lucas</td>
				<td><a href="#">Editar</a><a href="#">Excluir</a></td>
			</tr>
			<tr>
				<td>lucas.nascimento@pearson.com</td>
				<td>Lucas Nascimento</td>
				<td><a href="#">Editar</a><a href="#">Excluir</a></td>
			</tr>
			<tr>
				<td>nubialim@gmail.com</td>
				<td>Núbia</td>
				<td><a href="#">Editar</a><a href="#">Excluir</a></td>
			</tr>
		</tbody>
	</table>
	<p>Restam 97 emails para vocês cadastrar, pois seu plano é gratuíto. <a href="#">Assine a versão Premium.</a></p>
	<a href="#">1</a>
	<a href="#">2</a>
	<a href="#">.</a>
	<a href="#">.</a>
	<a href="#">10</a>
	<a href="#">11</a>
</section>


<section>
	<h1>Agenda & Cardápios</h1>
	<ol>
		<li><a href="#">Segunda 22/10/2012</a><input type='checkbox'> igual toda Segunda</li>		
		<li><a href="#">Terça 23/10/2012</a><input type='checkbox'> igual toda Terça</li>		
		<li><a href="#">Quarta 24/10/2012</a><input type='checkbox'> igual toda Quarta</li>		
		<li><a href="#">Quinta 25/10/2012</a><input type='checkbox'> igual toda Quinta</li>		
		<li><a href="#">Sexta 26/10/2012</a><input type='checkbox'> igual toda Sexta</li>		
		<li><a href="#">Sábado 27/10/2012</a><input type='checkbox'> igual todo Sábado</li>		
	</ol>
	<input placeholder='Prato ou dia para repetir um cardápio já enviado' nome='dish'></input>
	<table>
		<caption>Prato que compoem o cardápio do dia</caption>
		<thead>
			<tr>
				<th>Tipo</th>
				<th>Prato</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Carnes</td>
				<td>CALABRESA ACEBOLADA</td>
				<td><a href="#">Editar</a><a href="#">Excluir</a></td>
			</tr>
			<tr>
				<td>Carnes</td>
				<td>CARNE DE PANELA</td>
				<td><a href="#">Editar</a><a href="#">Excluir</a></td>
			</tr>
			<tr>
				<td>Carnes</td>
				<td>HAMBURGUER</td>
				<td><a href="#">Editar</a><a href="#">Excluir</a></td>
			</tr>
			<tr>
				<td>Guarnições</td>
				<td>HAMBURGUER</td>
				<td><a href="#">Editar</a><a href="#">Excluir</a></td>
			</tr>
			<tr>
				<td>Guarnições</td>
				<td>HAMBURGUER</td>
				<td><a href="#">Editar</a><a href="#">Excluir</a></td>
			</tr>
			<tr>
				<td>Guarnições</td>
				<td>HAMBURGUER</td>
				<td><a href="#">Editar</a><a href="#">Excluir</a></td>
			</tr>
			<tr>
				<td>Guarnições</td>
				<td>HAMBURGUER</td>
				<td><a href="#">Editar</a><a href="#">Excluir</a></td>
			</tr>
		</tbody>
	</table>
</section>





<!--
<div class="hero-unit">
  <h1></h1>
  <p>You now have</p>
  <ul>
      <li ng-repeat="thing in awesomeThings">{{thing}}</li>
  </ul>
  <p>installed.</p>
  <h3>Enjoy coding! - Yeoman</h3>
</div>
-->